# Exclude local environment and git
.git
.github
.venv
venv
ENV
__pycache__/
*.py[cod]
*$py.class

# Exclude local database and secrets
db.sqlite3
service.json

# Exclude Docker/Build artifacts
Dockerfile
.dockerignore
.gcloudignore

# Exclude IDE settings
.vscode/
.idea/
